<li class="malontine-in-list">
  <%= svg (malontine.malone.svg_url) %>
  <h1 class="love-note-overlay-<%= malontine.malone.note_position %> color-<%= random_pastel %>"><%= malontine.love_note.message %></h1>
  <h3 class="malontine-creator">(created by <%= malontine.creator.username %>)</h3>
</li>
